@using ForumSystem.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.superhero.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.superhero.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-sm">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.communityfitness.com/wp-content/uploads/2019/05/CommunityFitnessLogo_orange.jpg" width="200" height="60" class="mr-auto" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Posts <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Posts" asp-action="All" style="color:azure">All Posts</a>
                                </li>
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Posts" asp-action="Create" style="color:azure">Create Post</a>
                                </li>
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Posts" asp-action="ByUser" style="color:azure">My Posts</a>
                                </li>
                            </ul>
                        <li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="All">Categories</a>
                        </li>
                        <form>
                            <p>
                                <input type="text" name="Search" />
                                <input type="submit" value="Search" asp-area="" asp-controller="Posts" asp-action="All" />
                            </p>
                        </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>

        <div class="text-dark">
            <aside class="col-md-3 magazine-page">
                <vc:sidebar></vc:sidebar>
            </aside>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>