@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "All";
}

<h1>Categories</h1>

<div class="row" style="text-align:center">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                @category.Description
            </div>
        </div>
    }
</div>