@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = $"TheFitnessCommunity"; }

<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="https://www.issaonline.com/blog/img/posts/627/issa-building-fitness-community.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="https://assets.website-files.com/581c85345d7e0501760aa7db/5b17ab5cc6215ef0331908fd_Creative%20Ways%20to%20Build%20Community%20at%20Your%20Gym.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="https://www.glofox.com/wp-content/uploads/2019/03/fitness20community-2.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="https://wellspring.edu/wp-content/uploads/2020/09/fitness-nutrition-hero-opt.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(+1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>


<div class="text-center">
    <hr />
    <a asp-controller="Posts" asp-action="Create" class=" btn-lg btn-primary">CREATE NEW FORUM POST</a>
    <hr />
</div>

<div class="row" style="text-align:center">
    @foreach (var category in Model.Categories)
    {
<div class="col-md-4">
    <img src="@category.ImageUrl" width="140" class="mr-3" alt="@category.Title">
    <div class="media-body">
        <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
        @category.Description
    </div>
</div>}
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="jumbotron d-none" id="statistics">
    <div class="row col-12">
        <h1 class="col-12 text-center" id="total-users"></h1>
        <h1 class="col-12 text-center" id="total-posts"></h1>
        <h1 class="col-12 text-center" id="total-votes"></h1>
        <h1 class="col-12 text-center" id="total-comments"></h1>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-users').text("Total Users: " + data.totalUsers);
                $('#total-posts').text("Total Posts: " + data.totalPosts);
                $('#total-votes').text(" Total Votes: " + data.totalVotes);
                $('#total-comments').text("Total Comments: " + data.totalComments);

                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}
